.add_form{
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 3.5em;
}

.add_form input{
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0.2em;
    font-family: 'Lato', sans-serif;
}

.add_form input:focus{
    outline: none;
}

.add_form button{
    border: none;
    width: 10%;
    align-self: center;
    padding: 0.8em;
    border-radius: 1em;
    font-family: sans-serif;
    font-size: 1em;
    background-color: #E90064;
    color: white;
}

.add_form button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add_form button:active{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width:900px){
    .add_form button{
        width: 100%;
    }
}